<app-header></app-header>

<ion-content [fullscreen]="true">
  
  <ion-row>
    <ion-col class="allreport" [routerLink]="['/managemenu']">
      <ion-row class="report_img">
        <ion-img src="/assets/images/pizza.svg"></ion-img>
      </ion-row>
      <ion-row class="report_name">
          <p>Pizza</p>
      </ion-row>
    </ion-col>
    <ion-col class="allreport" [routerLink]="['/managemenu']">
      <ion-row class="report_img">
        <ion-img src="/assets/images/bakery.svg"></ion-img>
      </ion-row>
      <ion-row class="report_name">
          <p>Burger</p>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="allreport" [routerLink]="['/managemenu']">
      <ion-row class="report_img">
        <ion-img src="/assets/images/bakery.svg"></ion-img>
      </ion-row>
      <ion-row class="report_name">
         <p>Chicken</p>
      </ion-row>
    </ion-col>
    <ion-col class="allreport" [routerLink]="['/managemenu']">
      <ion-row class="report_img">
        <ion-img src="/assets/images/bakery.svg"></ion-img>
      </ion-row>
      <ion-row class="report_name">
          <p>Bakery</p>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="allreport" [routerLink]="['/managemenu']">
      <ion-row class="report_img">
        <ion-img src="/assets/images/media_report.png" alt="Sales Report"></ion-img>
      </ion-row>
      <ion-row class="report_name">
        <p>Sea Food</p>
      </ion-row>
    </ion-col>
    <ion-col class="allreport"  [routerLink]="['/managemenu']">
      <ion-row class="report_img" >
        <ion-img src="/assets/images/bill_report.png" alt="Sales Report"></ion-img>
      </ion-row>
      <ion-row class="report_name">
          <p>Beverage</p>
      </ion-row>
    </ion-col>
  </ion-row>
  </ion-content>
