<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1"class="icon" href="home">
      <ion-icon name="home" class="selected"></ion-icon>
      <ion-icon name="home-outline" class="unselected"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2"class="icon" href="">
      <ion-icon name="bag-remove-outline" class="unselected"></ion-icon>
      <ion-icon name="bag-remove" class="selected"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="contactsupport"class="icon" href="#">
      <ion-icon name="chatbox-ellipses-outline" class="unselected"></ion-icon>
      <ion-icon name="chatbox-ellipses" class="selected"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
