.dish-item {
    // background-color: var(--ion-color-primary-rgba);
    border-radius: 8px;
    padding: 0px !important;
    margin: 16px 0;
    align-items: center;
    border-bottom: 1px solid #C72C3C;
  }

  .dish-item  ion-img {

    border-radius: 8px;
  }

p {
  font-size: 14px;
  margin: 0;
}
.dish-item h3{
    font-size: 12px;
    font-weight: 500;
}
.serv_per{
    // color: #50CD89;
    font-size: 15px;
    font-weight: 500;
}
.price{
    color: #50CD89;
}