<app-header></app-header>

<ion-content [fullscreen]="true">
  
    <ion-row>
        <ion-col>
          <ion-card-content class="dishes_card">
            <ion-row>
              <ion-col class="dishes_heading">
                <h2>Popular Dishes</h2>
              </ion-col>
              <!-- <ion-col class="ion-text-end align-center"><a href="#">See All</a></ion-col> -->
            </ion-row>
            <ion-row class="dish-item">
                <ion-col size="auto">
                  <ion-img src="/assets/images/food.png" alt="food"></ion-img>
                </ion-col>
                <ion-col>
                  <h3>Chicken Parmesan</h3>
                  <p  class="serv_per">Quantity: 1</p>
                </ion-col>
                <ion-col size="auto" class="ion-text-right stock">
                  <!-- <h4 class="in-stock">In Stock</h4> -->
                  <p class="price">55.00</p>
                </ion-col>
              </ion-row>
              <ion-row class="dish-item">
                <ion-col size="auto">
                  <ion-img src="/assets/images/food.png" alt="food"></ion-img>
                </ion-col>
                <ion-col>
                  <h3>Chicken Parmesan</h3>
                  <p  class="serv_per">Quantity: 1</p>
                </ion-col>
                <ion-col size="auto" class="ion-text-right stock">
                  <!-- <h4 class="in-stock">In Stock</h4> -->
                  <p class="price">55.00</p>
                </ion-col>
              </ion-row>
          </ion-card-content>
        </ion-col>
      </ion-row>
</ion-content>

