ion-header {
    background-color: #C72C3C;
    height: 110px;

  
    .main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  
    .menu-btn {
      margin-left: 10px;
    }
  
    ion-img.header-img {
    //   height: 98px;
      width: auto;
    //   margin-right: 15px;
      position: relative;
      top: -10px;
    }
  }
  h1{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    margin-left: 10%;
  }
  .allreport{
    // margin: 20px 27px;
    border: 1px solid var(--ion-color-primary);
    border-radius: 10px;
    height: 146px;
    padding: 16px 20px;
    margin: 8px 10px;
}
.revenue_product{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.revenue_product p{
    margin: 0px;
}
