<ion-content>
<swiper-container>
  <swiper-slide>
    <ion-row class="image-container">
      <img src="assets/images/slide1.png" class="slide-image" width="100%"/>
    </ion-row>
    <ion-row class="spacing">
      <div class="text-container">
        <h1>Welcome to Restoji</h1>
        <p>Access detailed sales reports, monitor revenue trends, and customize your menu with just a few clicks</p>
      </div>
    </ion-row>
    <ion-row class="action-row spacing">
      <ion-col size="auto" class="ion-align-self-center">
        <ion-img src="/assets/images/navigate_first.png"></ion-img>
      </ion-col>
      <ion-col  class="ion-text-end">
        <ion-button>Next</ion-button>
      </ion-col>
    </ion-row>
  </swiper-slide>
  <swiper-slide> 
    <ion-row class="image-container">
    <img src="assets/images/slide2.png" class="slide-image" width="100%"/>
    </ion-row>
    <ion-row class="spacing">
      <div class="text-container">
        <h1>Track Sales and Performance</h1>
        <p>Gain a detailed view of your daily and monthly sales trends. Identify top-selling items and modify your menu to boost revenue. </p>
      </div>
    </ion-row>
    <ion-row class="action-row spacing">
      <ion-col size="auto" class="ion-align-self-center">
        <ion-img src="/assets/images/navigate_second.png"></ion-img>
      </ion-col>
      <ion-col  class="ion-text-end">
        <ion-button>Next</ion-button>
      </ion-col>
    </ion-row>
  </swiper-slide>
  <swiper-slide>
    <ion-row class="image-container">
      <img src="assets/images/slide3.png" class="slide-image" width="100%"  />
      </ion-row>
      <ion-row class="spacing">
        <div class="text-container">
          <h1>Track Sales and Performance</h1>
          <p>Gain a detailed view of your daily and monthly sales trends. Identify top-selling items and modify your menu to boost revenue. </p>
        </div>   
      </ion-row>
      <ion-row class="action-row spacing">
        <ion-col size="auto" class="ion-align-self-center">
          <ion-img src="/assets/images/navigate_first.png"></ion-img>
        </ion-col>
        <ion-col  class="ion-text-end">
          <ion-button [routerLink]="['login']">Next</ion-button>
        </ion-col>
      </ion-row>
  </swiper-slide>
</swiper-container>
</ion-content>